body {
    background-image: url('https://images.pexels.com/photos/2156881/pexels-photo-2156881.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif;
}

.resume-container {
    max-width: 600px; 
    margin: 50px auto;
    padding: 20px;
    background: rgba(203, 185, 185, 0.7); 
    border: 2px solid #0ebbb2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(10, 129, 138, 0.8);
}

.profile-pic {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #0ebbb2;
    box-shadow: 0 4px 8px rgba(10, 129, 138, 0.8);
}

h1 {
    text-align: center;
    color: rgba(9, 238, 226, 0.9);
    text-shadow: 2px 2px 4px #7e13e2;
    margin: 10px 0;
}

fieldset {
    border: 2px solid rgba(86, 15, 114, 0.9);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px; 
}

legend {
    font-weight: bold;
    color: #4a127ee5;
}

p, li {
    color: black;
    line-height: 1.6;
}

button {
    display: block;
    width: 90%; 
    height: 40px; 
    padding: 10px;
    background: rgb(138, 10, 243);
    color: white;
    border: 3px solid rgb(103, 4, 196);
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 3px 8px rgb(0, 174, 201);
    margin: 10px auto; 
    font-size: 15px;
}

button:hover {
    background-color: rgb(17, 189, 219);
}
